In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('locations.csv')

In [3]:
# how big is data

In [5]:
df.shape

(212, 6)

In [6]:
#How does data look like

In [7]:
df.sample(7)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
139,Nicaragua,North America,6.624554e+06,74.48,0.900,5321.444
85,Haiti,North America,1.140253e+07,64.00,0.700,1653.173
166,Serbia,Europe,6.804596e+06,76.00,5.609,14048.881
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
73,Germany,Europe,8.378394e+07,81.33,8.000,45229.245
111,Liberia,Africa,5.057677e+06,64.10,0.800,752.788
155,Qatar,Asia,2.881060e+06,80.23,1.200,116935.600

In [8]:
#what is data type of cols

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    212 non-null    object
 1   continent                   210 non-null    object
 2   population                  211 non-null    float64
 3   life_expectancy             208 non-null    float64
 4   hospital_beds_per_thousand  165 non-null    float64
 5   gdp_per_capita              184 non-null    float64
dtypes: float64(4), object(2)
memory usage: 10.1+ KB

In [11]:
#are there any missing values

In [13]:
df.isnull().sum()

location                       0
continent                      2
population                     1
life_expectancy                4
hospital_beds_per_thousand    47
gdp_per_capita                28
dtype: int64

In [14]:
#how does data look mathematically

In [15]:
df.describe()

,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
count,2.110000e+02,208.000000,165.000000,184.000000
mean,7.370985e+07,73.525288,3.010806,19464.082478
std,5.526716e+08,7.542061,2.457507,19768.790977
min,8.090000e+02,53.280000,0.100000,661.240000
25%,1.074083e+06,69.380000,1.300000,4522.973000
50%,6.948445e+06,75.070000,2.397000,13183.081500
75%,2.646207e+07,78.935000,3.861000,28143.439750
max,7.794799e+09,86.750000,13.800000,116935.600000

In [16]:
#Are there duplicates values

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
#we can remove duplicates by drop_duplicate fxn

In [21]:
#How is the corelation between cols

In [26]:
df.corr(numeric_only=True)

,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
population,1.000000,-0.015477,-0.019200,-0.029552
life_expectancy,-0.015477,1.000000,0.472007,0.689773
hospital_beds_per_thousand,-0.019200,0.472007,1.000000,0.297093
gdp_per_capita,-0.029552,0.689773,0.297093,1.000000