***1. Importing pandas***

In [3]:
import pandas as pd

***2. Opening a local CSV file***

In [4]:
df=pd.read_csv('locations.csv')
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

***3. Opening a csv file from URL***

In [ ]:
import requests 
from io import StringIO
url=""
headers=("User_Agent")
req=requests.get(url, headers=headers)
data=stringIO(req.text)
pd.read_csv(data)

***4. Sep parameter***

In [8]:
pd.read_csv('locations.csv',sep=',')

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [9]:
pd.read_csv('locations.csv',sep=',',names=['loc','conti','pop','avg_life','beds','gdp'])

,loc,conti,pop,avg_life,beds,gdp
0,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
1,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987
2,Albania,Europe,2877800.0,78.57,2.89,11803.431
3,Algeria,Africa,43851043.0,76.88,1.9,13913.839
4,Andorra,Europe,77265.0,83.73,NaN,NaN
...,...,...,...,...,...,...
208,Yemen,Asia,29825968.0,66.12,0.7,1479.1470000000002
209,Zambia,Africa,18383956.0,63.89,2.0,3689.2509999999997
210,Zimbabwe,Africa,14862927.0,61.49,1.7,1899.775
211,World,NaN,7794798729.0,72.58,2.705,15469.207
212,International,NaN,NaN,NaN,NaN,NaN

***5. Index_col parameter***

In [11]:
pd.read_csv('locations.csv',index_col='location')

,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
location,,,,,
Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
Albania,Europe,2.877800e+06,78.57,2.890,11803.431
Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
Andorra,Europe,7.726500e+04,83.73,NaN,NaN
Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...
Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
World,NaN,7.794799e+09,72.58,2.705,15469.207
International,NaN,NaN,NaN,NaN,NaN

***6. Header parameter***

In [15]:
pd.read_csv('locations.csv',header=1)

       Afghanistan           Asia    38928341.0  64.83    0.5   1803.987
0          Albania         Europe  2.877800e+06  78.57  2.890  11803.431
1          Algeria         Africa  4.385104e+07  76.88  1.900  13913.839
2          Andorra         Europe  7.726500e+04  83.73    NaN        NaN
3           Angola         Africa  3.286627e+07  61.15    NaN   5819.495
4         Anguilla  North America  1.500200e+04  81.88    NaN        NaN
..             ...            ...           ...    ...    ...        ...
206          Yemen           Asia  2.982597e+07  66.12  0.700   1479.147
207         Zambia         Africa  1.838396e+07  63.89  2.000   3689.251
208       Zimbabwe         Africa  1.486293e+07  61.49  1.700   1899.775
209          World            NaN  7.794799e+09  72.58  2.705  15469.207
210  International            NaN           NaN    NaN    NaN        NaN

[211 rows x 6 columns]

****7. Use_cols parameter****

In [16]:
pd.read_csv('locations.csv',usecols=['continent','population'])

    continent    population
0        Asia  3.892834e+07
1      Europe  2.877800e+06
2      Africa  4.385104e+07
3      Europe  7.726500e+04
4      Africa  3.286627e+07
..        ...           ...
207      Asia  2.982597e+07
208    Africa  1.838396e+07
209    Africa  1.486293e+07
210       NaN  7.794799e+09
211       NaN           NaN

[212 rows x 2 columns]

****8. Sqeeze parameter****

In [17]:
pd.read_csv('locations.csv',usecols=['population'],squeeze=True)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

***9. Skip rows/n rows parameter****

In [21]:
pd.read_csv('locations.csv',skiprows=[0,2])

             Afghanistan           Asia    38928341.0  64.83    0.5   1803.987
0                Algeria         Africa  4.385104e+07  76.88  1.900  13913.839
1                Andorra         Europe  7.726500e+04  83.73    NaN        NaN
2                 Angola         Africa  3.286627e+07  61.15    NaN   5819.495
3               Anguilla  North America  1.500200e+04  81.88    NaN        NaN
4    Antigua and Barbuda  North America  9.792800e+04  77.02  3.800  21490.943
..                   ...            ...           ...    ...    ...        ...
205                Yemen           Asia  2.982597e+07  66.12  0.700   1479.147
206               Zambia         Africa  1.838396e+07  63.89  2.000   3689.251
207             Zimbabwe         Africa  1.486293e+07  61.49  1.700   1899.775
208                World            NaN  7.794799e+09  72.58  2.705  15469.207
209        International            NaN           NaN    NaN    NaN        NaN

[210 rows x 6 columns]

In [19]:
pd.read_csv('locations.csv',nrows=100)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
95,Isle of Man,Europe,85032.0,81.40,NaN,NaN
96,Israel,Asia,8655541.0,82.97,2.99,33132.320
97,Italy,Europe,60461828.0,83.51,3.18,35220.084
98,Jamaica,North America,2961161.0,74.47,1.70,8193.571
99,Japan,Asia,126476458.0,84.63,13.05,39002.223

****10. Encoding parameter****

In [23]:
pd.read_csv('locations.csv',encoding='latin-1')  #like emoji parameter default is UTF-8

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

***11. Skip bad lines***

In [25]:
pd.read_csv('locations.csv',error_bad_lines=False)

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

***12. dtypes parameter***

In [ ]:
pd.read_csv('locations.csv',dtype={'hospital_beds_per_thousand':int})

***13. Handling dates***

In [ ]:
pd.read_csv('italy-covid-daywise.csv',parse_dates={'date'})

In [41]:
def rename(name):
    if name=="Asia":
        return "AS"
    else:
        return name

In [42]:
rename("Asia")

'AS'

***14. convertors***

In [43]:
pd.read_csv('locations.csv',converters={'continent':rename})

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,AS,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,AS,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,,7.794799e+09,72.58,2.705,15469.207
211,International,,NaN,NaN,NaN,NaN

***15. na_values parameters***

In [44]:
pd.read_csv('locations.csv',na_values=['Africa'])

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,NaN,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,NaN,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,NaN,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,NaN,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

***16. Loading a huge dataset in chunks***

In [45]:
dfs=pd.read_csv('locations.csv',chunksize=75)

In [48]:
for chunks in dfs:
    print(chunk.shape)

NameError: name 'chunk' is not defined